body {
  background-color: #f9f7fe;
}
h1 {
  line-height: 38px;
  font-weight: 100;
  margin: 30px 0;
}
ul {
  margin: 10px 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 100;
  line-height: 30px;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 80px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #169cb2;
  border-radius: 40px;
  background-color: #e8f4fd;
  font-family: "Quicksand", sans-serif;
  color: #169cb2;
}
.temperature {
  margin: 35px 0 40px 20px;
  padding: 0;

  font-size: 100px;
  line-height: 1;
}
#temperature {
  margin: 15px 0;
  text-align: center;
}
.units {
  position: relative;
  top: -50px;
  font-size: 25px;
}
#main-image {
  text-align: center;
}
li:first-letter {
  text-transform: capitalize;
}
.form-control {
  background: #f9f7fe;
  padding: 10px;
}
#city-input {
  margin: 0 10px 0 0;
  background: #f9f7fe;
}
.active {
  color: #169cb2;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: #169cb2;
}

.card-img-bottom {
  max-width: 50px;
  margin: 0 5px 7px auto;
}
.card {
  border-radius: 20px;
  color: #169cb2;
  background-color: #f9f7fe;
}

.card-body {
  font-size: 15px;
  padding: 5px;
}
.card-text {
  margin: 0 auto 0 10px;
}
.card-title {
  font-size: 20px;
  text-align: center;

  padding: 5px 0;
  margin: 0 0 5px 0;
}
.temperature-forecast-min {
  opacity: 0.7;
}

.card-deck {
  margin-bottom: 30px;
}
